
<div class="container">
<div class="row" style="padding-top:10%">
  <div class="col-md-4">
    <app-add-book></app-add-book>
       </div>
    <div class="col-md-8">
      <app-view-book></app-view-book>
    </div>
    </div>
    </div>
<router-outlet></router-outlet>
