<div class="card">
    <div class="card-header bg-header text-white">
      Add Book
    </div>
    <div class="card-body">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" formControlName="title" placeholder="Enter title" />
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" class="form-control" formControlName="author" placeholder="Enter author" />
            </div>
            <div class="form-group">
                <label for="website">Web Site</label>
                <input type="text" class="form-control" formControlName="website" placeholder="Enter website" />
              </div>
            <!-- <img src="../../assets/PastedGraphic-1.png"/> -->
      <button type="button" class="btn btn-danger" (click)="resetData()">Reset</button> &nbsp;
      <button type="submit" class="btn btn-success" >Add Book</button>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
     
    </div>
  </div>