:host /deep/ ng2-smart-table-title > a { color: black; }

:host /deep/ table tr a.ng2-smart-action-edit-edit {
    font-size:1.5rem !important;
    color: #008000;
}

:host /deep/ table tr a.ng2-smart-action-delete-delete {
    font-size:1.5rem !important;
    color: #FF0000;
    margin-left: 10%;
}

:host /deep/ table  tr  a.ng2-smart-action-edit-save{
    font-size:1.5rem !important;
    color:#008000;
}

:host /deep/ table  tr  a.ng2-smart-action-edit-cancel{
    font-size:1.5rem !important;
    color:#FF0000;
    margin-left: 10%;
}
