<div class="card">
    <div class="card-header">
      Book List
    </div>
    <div class="card-body">
        <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onEditConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </div>
  </div>